<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add a new Dog</h1>
    <form class="" action="/dogs" method="post">
      <label for="">Name:</label>
      <input type="text" name="name" value="">
      <br>
      <br>
      <label for="">Color:</label>
      <input type="text" name="color" value="">
      <br>
      <br>
      <label for="">Weight:</label>
      <input type="text" name="weight" value="">
      <br>
      <br>
      <input type="submit" name="" value="Add">


    </form>
  </body>
</html>
