<!DOCTYPE html>
<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>
    <script type="text/javascript">
       var app = angular.module('app',[]);

       app.controller('UsersController',['$scope', function($scope ){
         $scope.users = [

         ];

           console.log("got here");
         $scope.addUser = function(newUser){
            console.log("in here");
           $scope.users.push(newUser);
           console.log(newUser);
            console.log("finallly here");
           console.log(newUser.lastname);
          $scope.newUser = {};
         }

         $scope.remove = function(index){
           //var user = $scope.users.indexOf(index);
           console.log('delete')
           $scope.users.splice(index,1);
         }
       }]);
    </script>

    <title></title>
  </head>
  <body>
    <div ng-controller='UsersController'>
      <form>
        First Name: <input type="text" ng-model='newUser.firstname'>
        <br>
        <br>
        Last Name: <input type="text" ng-model='newUser.lastname'>
        <br>
        <br>
        Favorite Language: <input type="text" ng-model='newUser.language'>
        <br>
        <input type="submit" value="create User" ng-click='addUser(newUser)'>

      </form>

      <table>
        <tr>
          <thead>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Favorite Language</td>
            <td>Actions</td>
          </thead>
        </tr>

        <tr ng-repeat="user in users">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.language}}</td>
            <td><button ng-click="remove($index)">Delete user</button></td>
        </tr>
      </table>

    </div>

  </body>
</html>
