<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
    <div id="#wrapper">
      <h1>Welcome to QuotingDojo</h1>

      <form class="" action="/quotes" method="post">
        <label for="">Your name:</label>
        <input type="text" name="name" value="">
        <br>
        <br>
        <label for="">Your quote:</label>
        <br>
        <textarea name="quote" rows="8" cols="40"></textarea>
        <br>
        <br>
        <input type="submit" name="" value="Add my quote!">

      </form>
      <br>
      <br>
      <form class="" action="/show" method="get">
        <input type="submit" name="" value="Skip to quotes!">
      </form>

    </div>

  </body>
</html>
